*,
*:before,
*:after {
    margin: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100vh;
    /* total height and width includes padding, border */
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: blanchedalmond;
}

h1 {
    margin: 20px;
}

.wrapper-photo {
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    justify-content: flex-start;
}

video {
    /* display: flex; */
    height: 450px;
    width: 600px;
}

.player {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
}

.photo-canvas {
    width: 98%;
    float: left;
    margin: 10px;
}

.showPhotos {
    padding: 2rem;
}

.showPhotos img {
    width: 100px;
    overflow-x: scroll;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    box-shadow: inset -4px -3px 3px rgba(0, 0, 0, 0.2);
    background: white;
}

.capture-btn {
    padding: 10px;
    margin-bottom: 10px;
    color: brown;
    outline: none;
    border: none;
    box-shadow: inset -1px -3px 3px rgba(0, 0, 0, 0.2);
}